$device_pc: 1440;
$device_tab: 1024;
$device_sp: 375;
$font-NotoSans: 'Noto Sans JP';
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 769px;

$default-hover-ease: cubic-bezier(0.22, 1, 0.36, 1);
$default-hover-anime: opacity .4s $default-hover-ease;