@use "./module" as *;

.is-pc {
  display: block;

  @include sp {
    display: none;
  }
}

.is-sp {
  display: none;

  @include sp {
    display: block;
  }
}

[data-anim-elm] {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button {
  outline: none;
  background: none;
}